<div class="w3-container w3-theme-d2">
  <span onclick="closeSidebar()" class="w3-button w3-display-topright w3-large">X</span>
  <br>
  <div class="w3-padding w3-center">
    <a href="index.html">
    <img class="w3-circle" src="img/de_main.jpg" alt="logo" style="width:75%">
    </a>
  </div>
</div>
<a class="w3-bar-item w3-button" 
href="/index.html">Accueil</a>
<a class="w3-bar-item w3-button" href="/about.html">A Propos</a>
<a class="w3-bar-item w3-button" href="/contact.html">Nos Contacts</a>
